.container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/assets/inventory-bg.jpg'); /* Ajusta la ruta si es necesario */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }