<nav class="bg-gray-800 text-white p-4 flex justify-between">
  <a class="text-xl font-bold" routerLink="/">MagnaWeb</a>
  <div class="flex items-center">
    <ng-container *ngIf="isLoggedIn">
      
      <a class="px-4" routerLink="/categorias">Categorías</a>
      <a class="px-4" routerLink="/inventario">Inventario</a>
      <a class="px-4" routerLink="/dashboard">Tablero Principal</a>
       <span class="px-4">Bienvenido, {{ name }}</span>
      <button (click)="logout()" class="bg-red-500 px-3 py-1 rounded">Cerrar Sesión</button>
    </ng-container>

    
  </div>
</nav>