<div class="w-full max-w-sm mx-auto bg-white p-6 rounded-lg shadow-md mt-20">
  <h2 class="text-xl font-bold text-center mb-4">Registrarse</h2>

  <form (ngSubmit)="register()">
    <div class="mb-4">
      <input type="text" [(ngModel)]="name" name="name" placeholder="Nombre completo" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring focus:ring-green-300 outline-none" />
    </div>

    <div class="mb-4">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Correo electrónico" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring focus:ring-green-300 outline-none" />
    </div>

    <div class="mb-4">
      <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring focus:ring-green-300 outline-none" />
    </div>

    <button type="submit"
      class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition">
      Registrarse
    </button>

    <p *ngIf="errorMessage" class="text-red-500 text-sm mt-2 text-center">{{ errorMessage }}</p>
  </form>
</div>


  