<div class="w-full max-w-sm mx-auto bg-white p-6 rounded-lg shadow-md mt-20">
  <h2 class="text-xl font-bold text-center mb-4">Registrarse</h2>

  <form (ngSubmit)="register()">
    <div class="mb-4">
      <label for="companyName" class="block mb-2">Nombre de la empresa</label>
      <input type="text" id="companyName" [(ngModel)]="companyName" name="companyName" placeholder="Nombre de la empresa" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-300 focus:border-green-500 outline-none" />
    </div>

    <div class="mb-4">
      <label for="name" class="block mb-2">Nombre</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Nombre" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-300 focus:border-green-500 outline-none" />
    </div>

    <div class="mb-4">
      <label for="lastName" class="block mb-2">Apellido</label>
      <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" placeholder="Apellido" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-300 focus:border-green-500 outline-none" />
    </div>

    <div class="mb-4">
      <label for="email" class="block mb-2">Correo electrónico</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Correo electrónico" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-300 focus:border-green-500 outline-none" />
    </div>

    <div class="mb-4">
      <label for="password" class="block mb-2">Contraseña</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-300 focus:border-green-500 outline-none" />
    </div>

    <div class="mb-4">
      <label for="phoneNumber" class="block mb-2">Teléfono</label>
      <input type="tel" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Teléfono" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-300 focus:border-green-500 outline-none" />
    </div>

    <div class="mb-4">
      <label for="country" class="block mb-2">País</label>
      <input type="text" id="country" [(ngModel)]="country" name="country" placeholder="País" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-300 focus:border-green-500 outline-none" />
    </div>

    <div class="mb-4">
      <label for="birthDate" class="block mb-2">Fecha de nacimiento</label>
      <input type="date" id="birthDate" [(ngModel)]="birthDate" name="birthDate" placeholder="Fecha de nacimiento" required
        class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-300 focus:border-green-500 outline-none" />
    </div>

    <div class="mb-4">
      <label for="roles" class="block mb-2">Rol</label>
      <select id="roles" [(ngModel)]="roles[0]" name="roles" required
        class="form-select w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-300 focus:border-green-500 outline-none">
        <option value="user">Usuario</option>
        <option value="admin">Administrador</option>
      </select>
    </div>

    <button type="submit"
      class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition">
      Registrarse
    </button>

    <p *ngIf="errorMessage" class="text-red-500 text-sm mt-2 text-center font-medium">
      {{ errorMessage }}
    </p>
  </form>
</div>